Language: Cpp
BasedOnStyle: Google

#IndentWidth: 4
#TabWidth: 4
#UseTab: Never

ColumnLimit: 60

#BreakBeforeBraces: Attach

AlwaysBreakTemplateDeclarations: Yes
AlignAfterOpenBracket: AlwaysBreak
BinPackParameters: false
BinPackArguments: false
BracketClangStyle: true


#SpacesInAngles: false
#SpacesInContainerLiterals: false
#SpacesInParentheses: false
#SpacesInSquareBrackets: false
#SpaceBeforeAssignmentOperators: true
#SpaceBeforeParens: ControlStatements

#AllowShortBlocksOnASingleLine: Never
#AllowShortFunctionsOnASingleLine: Empty
#AllowShortIfStatementsOnASingleLine: Never
#AllowShortLoopsOnASingleLine: Never

#Cpp11BracedListStyle: true